# Project Files
*.sqlite
*.tmp

config-test*.json

# Dependencies
node_modules/
package-lock.json
yarn.lock

# IDEs
.idea/
.vs/
/layers*.csv
/layerlistv1.csv
/layerlistv2.csv
/layerlistv3.csv
/layerlistv4.csv
/layerlistv5.csv
/layerlistv6.csv
/.husky/
