# Project Files
*.sqlite
*.tmp

config-test*.json

# Dependencies
node_modules/
package-lock.json
yarn.lock

# IDEs
.idea/
.vs/
/layers*.csv
/layers.csv
/layers2.csv
/layers3.csv
/layers4.csv
/layers5.csv
/layers6.csv
/.husky/
